---
layout: page
---
<div class="post">
  <article>
    {{ content }}

    <style>
      /* Hide TOC links that point to alumni headings on this page TOC */
      #toc-sidebar a[href^="#alumni-"] {
        display: none !important;
      }
    </style>

    {% if page.profiles %}
      {% for profile in page.profiles %}
        <hr>
        {% include profile-card.liquid profile=profile %}

        <div class="clearfix">
          {% if profile.content %}
            {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
            {{ profile_content | markdownify }}
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}

    {% if site.data.members %}
      <h2>Current Members</h2>
      {% for member_file in site.data.members %}
        {% assign profile = member_file[1] %}
        {% if profile.status == "current" %}
          <hr>
          {% include profile-card.liquid profile=profile render_details=false %}

          {% include profile-card.liquid profile=profile render_details=true show_image=false %}
        {% endif %}
      {% endfor %}

      <h2>Alumni</h2>
      <details>
      <summary><b>Alumni</b></summary>
      {% for member_file in site.data.members %}
        {% assign profile = member_file[1] %}
        {% if profile.status != "current" %}
          <hr>
          {% assign heading_id = profile.name | slugify | prepend: 'alumni-' %}
          {% include profile-card.liquid profile=profile render_details=false %}

          {% include profile-card.liquid profile=profile render_details=true heading_id=heading_id show_image=false %}
        {% endif %}
      {% endfor %}
      </details>
    {% else %}
      <p>No member profiles found.</p>
    {% endif %}
  </article>
</div>
